<!DOCTYPE html>
<html lang="est">
  <head>
    <title>Raamatukogu | laenamine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://developer.avego.com/mobilesite/bootstrap-3.0.0/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/tabs.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../static/js/form.js"></script>


      <style>
           #back{
              margin-bottom: 30px;
          }
          input{
              margin: 10px auto;
          }
      </style>
  </head>

  <body>

    <div class="container">
      <div class="header" style="text-align: center">
          <h3 class="text-muted">Raamatukogu</h3>
          <div class="">
              <ul class="nav navbar-nav">
                  <li><a href="/" class="btn btn-primary btn-lg active" id="back" role="button" aria-pressed="true">Tagasi</a></li>
              </ul>
          </div>
      </div>

      <div class="jumbotron">
        <h1>Laenaja andmed</h1>
        <br>
          <p id="error" style="color: red"></p>
        <form class="form">
            <input type="hidden" name="kood" value="{{kood}}">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" name="nimi" id="inputName" class="form-control" placeholder="Nimi" required>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            <label for="inputTelefon" class="sr-only">Telefon</label>
            <input type="number" name="telefon" id="inputTelefon" class="form-control" placeholder="Telefon" required>
            <label for="inputKood" class="sr-only">Isikukood</label>
            <input type="number" name="isikukood" id="inputKood" class="form-control" placeholder="Isikukood" required>


            <button id="order" class="btn btn-lg btn-primary btn-block" type="button">Laena</button>
        </form>
      </div>




    </div>
  </body>
</html>

