
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raamatukogu | kataloog</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="http://developer.avego.com/mobilesite/bootstrap-3.0.0/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="../static/css/tabs.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <script src="../static/js/index.js"></script>

      <style>
          body{
              padding-top: 40px;
          }
          .clickable:hover{
              cursor: pointer;
          }
          #back{
              margin-bottom: 30px;
          }
          .notclickable{
              text-align: center;
          }
          .notclickable:hover{
              cursor: default;
          }
          #show_all{
              padding: 15px;
          }
      </style>
  </head>

  <body>

    <div class="container">
      <div class="header" style="text-align: center">
          <h3 class="text-muted">Raamatukogu</h3>
          <div class="">
              <ul class="nav navbar-nav">
                  <li></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="container">

        <div class="col-sm clickable" data-href="/all" style="max-width: 185px">
            <img src="{{ url_for('static', filename='left.png') }}" alt="<- " width="40px" height="40px"> Show all books
        </div>
        <div class="col-sm">
            <form class="form">
                <input type="text" placeholder="Otsi.." name="search" id="input" maxlength="100" required>
                <button id="search" type="submit"><i id="search_icon" class="fa fa-search"></i></button>
            </form>

        </div>

        <br>

        {% if 'error' in data %}
            <p style="color: red">{{data[error]}}</p>
        {% endif %}

        <table class="table table-striped table-hover">
            <tr>
                <th>Raamat</th>
                <th>Autor</th>
                <th>Aasta</th>
                <th></th>
            </tr>
             {% for row in data %}
            <tr class="clickable" data-href="/form/{{row[0]}}">
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td class="notclickable"><a href="/tagasta/{{row[0]}}" class="btn btn-primary btn-lg active" id="back" role="button" aria-pressed="true">Tagasta</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

  </body>
</html>

